button{
   font-size: clamp(1.375rem, 0.4375rem + 3vw, 2.5rem);
   padding: 12px 24px;
   background-image: var(--couleur-arriere-bouton);
   transition: transform .02s;  
   


   &:hover{  // & == button:hover
       background-image: var(--couleur-arriere-bouton-survol); 
       transform: scale(105%);
   }
   
   &:active{
        background-image: var(--couleur-arriere-bouton-active);

   }
}