.section__cours {
    display: flex;
    flex-wrap: wrap;
    gap : 1rem;
}

.carte {
    border : 1px solid #aaa;
    padding : 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex : 0 1 20%;
    background-color: hsl(var(--hu1),var(--s-couleur-arriere),  75%);
}
.carte h5 {
    padding: 0;
    margin: 0;
}