a {
  color: var(--couleur-lien);
  transition: transform 0.25s;

  &:visited {
    color: var(--couleur-lien-visited);
  }
  
  &:hover,
  &:focus {
    color: var(--couleur-lien-hover);
    transform: scale(150%)
  }

 
}
