:root{

    --couleur-arriere-entete: #fa3737;
    --couleur-arriere-accueil: #7ee44f;
    --couleur-arriere-evenement: #4d52d5;
    --couleur-arriere-galerie:#adafe0;
    --couleur-arriere-footer:#e224d9;
}