:root{

    --couleur-arriere-entete: #d7ed44;
    --couleur-arriere-accueil: #8ffd5c;
    --couleur-arriere-evenement: #0bfcac;
    --couleur-arriere-galerie:#f79616;
    --couleur-arriere-footer:#e22424;
    --transparence: 0.5;
    --largeur-rectangle: 1000px;
}