body {
    display: flex;
    flex-direction: column;
    font-family: Protest Riot;
}

.global {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh; 
}

.global>section,
.global>header,
.global>footer {
    // flex : grow = grossir // shrink = étirer si <900 
    // basic = comprimer pour s'adapter au format mobile
    flex: 0 1 var(--largeur-rectangle);
    //border: 1px solid black;
    //background-color: rgba(#000, 0.05);
    padding: 5rem 1rem;
}


#entete {
    background-color: var( --couleur-arriere-entete);
    color: var(--couleur-entete);
    position: relative;
}

#accueil {
    background-color: var(--couleur-arriere-accueil);
    color: var(--couleur-accueil);
}

#galerie {
    background-color: var(--couleur-arriere-galerie);
    color: var(--couleur-galerie);
    z-index: 1;
    background: linear-gradient(
        180deg,
        var(--couleur-arriere-accueil) 50%,
        var(--couleur-arriere-evenement) 50%);
}

#evenement {
    background-color: var(--couleur-arriere-evenement);
    color: var(--couleur-evenement);
    position: relative;
}

#footer {
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-footer);
}
#evenement>section.accueil__evenement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}
#evenement>section.accueil__evenement>a.bouton {
    background-color: var(--couleur-arriere-bouton);
    padding: 1rem;
    text-decoration: none;
}
#evenement>section.accueil__evenement>a.bouton:hover {
    background-color: var(--couleur-arriere-bouton-survol);
}