body {
    display: flex;
    flex-direction: column;
    font-family: Protest Riot;
}

.global {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh; 
}

.global>section,
.global>header,
.global>footer {
    // flex : grow = grossir // shrink = étirer si <900 
    // basic = comprimer pour s'adapter au format mobile
    flex: 0 1 var(--largeur-rectangle);
    //border: 1px solid black;
    border: dotted rgba(0, 249, 175, 0.5) 1rem;
    border-top: none;
    background-color: rgba(#000, 0.05);
    padding: 5rem 1rem;
}


#entete {
    background-color: var( --couleur-arriere-entete);
}

#accueil {
    background-color: var(--couleur-arriere-accueil);
}

#galerie {
    background-color: var(--couleur-arriere-galerie);
}

#evenement {
    background-color: var(--couleur-arriere-evenement);
}

#footer {
    background-color: var(--couleur-arriere-footer);
}